<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Relaximals</title>
</head>
<body>
  <h1>Welcome to Relaximals! Click a button for a random animal</h1>

  <div>
    <button id="dogButton">Dog</button>
    <button id="catButton">Cat</button>
</div>
<img id="animalImg"></img>
<script src="http://code.jquery.com/jquery-2.0.0.min.js"></script>
<script src="main.js"></script>
</body>
</html>