<div class='page-header'>
  <h1> Registration </h1>
</div>
<form ng-submit="register.regUser(regData);">
  <label>Email:</label>
  <input class='form-control'type="text" name='email' placeholder="someone@someplace.com" ng-model="register.regData.email">
  <br>
  <label>Username:</label>
  <input class='form-control'type="text" name='username' ng-model="register.regData.username">
  <br>
  <label>Password:</label>
  <input class= 'form-control'type="password" name='password' ng-model="register.regData.password">
  <br>
  <button class='btn btn-primary'type='sumbit'> Register </button>

</form>
<br>
<div class = 'jumbotron text-center' ng-show='register.loading'>
  <span class = 'glyphicon glyphicon-repeat spinner'></span>
  <p>Loading...</p>
</div>
<div class='row show-hide-message' ng-show='register.successMessage'>
  <div class='alert alert-success'>{{register.successMessage}}</div>
</div>
<br>
<div class='row show-hide-message' ng-show='register.errorMessage'>
  <div class='alert alert-danger'>{{register.errorMessage}}</div>
</div>
<br>
