<!-- View the details of a superhero -->
<div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title text-center"><span class="glyphicon glyphicon-user"></span> Animal details </h2>
        </div>
        <div class="panel-body text-center">
            <img ng-src="{{animal.data.picture.url | fpConvert: {filter:'sharpen', w:500} }}" />
            <h2>{{animal.data.name}}</h2>
            <hr />
            <p class="text-left"><label>Gender: </label> {{animal.data.gender}}</p>
            <p class="text-left"><label>Details: </label> {{animal.data.details}}</p>
                       <!-- Only if there are other pictures -->
            <div ng-if="animal.data.morePictures">
                <h3> More Pictures <h3>
                <div ng-repeat="picture in animal.data.morePictures">
                    <div class="col-md-{{12 / animal.data.morePictures.length}}">
                        <a ng-href="{{picture.url}}" class="thumbnail">
                          <img ng-src="{{picture.url | fpConvert: {filter:'sharpen', w:500} }}">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>